.vscode/*
libraries/PololuLedStrip/examples/LedStripColorTester/LedStripColorTester.ino
libraries/PololuLedStrip/examples/LedStripGradient/LedStripGradient.ino
libraries/PololuLedStrip/examples/LedStripRainbow/LedStripRainbow.ino
libraries/PololuLedStrip/examples/LedStripXmas/LedStripXmas.ino
libraries/PololuLedStrip/keywords.txt
libraries/PololuLedStrip/library.properties
libraries/PololuLedStrip/LICENSE.txt
libraries/PololuLedStrip/PololuLedStrip.cpp
libraries/PololuLedStrip/PololuLedStrip.h
libraries/PololuLedStrip/README.md
libraries/QTRSensors/Doxyfile
libraries/QTRSensors/examples/QTRAExample/QTRAExample.ino
libraries/QTRSensors/examples/QTRARawValuesExample/QTRARawValuesExample.ino
libraries/QTRSensors/examples/QTRRCExample/QTRRCExample.ino
libraries/QTRSensors/examples/QTRRCRawValuesExample/QTRRCRawValuesExample.ino
libraries/QTRSensors/keywords.txt
libraries/QTRSensors/library.properties
libraries/QTRSensors/LICENSE.txt
libraries/QTRSensors/QTRSensors.cpp
libraries/QTRSensors/QTRSensors.h
libraries/QTRSensors/README.md
libraries/QTRSensors/usage.md
